$base: 4px;
$animationBase: .8s ease;
$fontColor: #2d2d2a;
$orange: #a5630b;
$small-breakpoint: 1024px;

$introWidth: 80vw;
$introPadding: (100vw - $introWidth) / 2;
$introAnimationWidth: $introWidth/3;

$introMobilePadding: 60px;
$introAnimationMobileHeight: 35vh;

@mixin mediaSmall {
    @media (max-width: $small-breakpoint) {
        @content;
    }
}

@mixin mediaBig {
    @media (min-width: $small-breakpoint + 1) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-image: url('../static/bg.jpg');
    background-size: cover;
    background-position: center;
    color: $fontColor;
    overflow: hidden;

    @include mediaSmall {
        display: block;
        padding: $base*10 $base*5;
        background-image: url('../static/bg_mobile.jpg');
    }
}

.h1 {
    margin-top: $base * -10;
    font-size: 140px;
    font-weight: 800;
    line-height: 0.8em;
    color: $orange;
    opacity: 0.8;

    @include mediaSmall {
        font-size: 60px;
        margin-top: 0;
        text-align: center;
    }
}

.h2 {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    color: $orange;
    opacity: 0.8;

    @include mediaSmall {
        font-size: 14px;
    }
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 1;
    transition: opacity .4s ease;
}
.loading--done {
    opacity: 0;
}

.intro {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .8s .8s ease;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20% 0;
    font-size: 2em;
    text-align: center;
    color: $orange;
    opacity: 0;
    transition: opacity $animationBase;
}

.intro__link {
    position: absolute;
    width: $introAnimationWidth;
    top: 50vh;
    transform: translateY(-50%);
    pointer-events: none;

    will-change: top, right, bottom, left, transform;
    transition: opacity $animationBase, transform $animationBase, top $animationBase, right $animationBase, bottom $animationBase, left $animationBase;

    @include mediaBig {
        &:hover .overlay {
            opacity: 1;
        }
    }
}

.intro--ready {
    opacity: 1;
}

.a_photo {
    left: $introPadding + 5vw;
    transform-origin: top left;

    @include mediaSmall {
        top: calc(#{$introMobilePadding} + #{$introAnimationMobileHeight - 10});
    }
}

.a_design {
    left: $introPadding + $introAnimationWidth;
    transform-origin: bottom left;

    .overlay {
        align-items: flex-start;
    }

    @include mediaSmall {
        top: $introMobilePadding;
    }
}

.a_illu {
    right: $introPadding + 5vw;
    transform-origin: top right;

    @include mediaSmall {
        top: calc(#{$introMobilePadding} + #{($introAnimationMobileHeight - 10) * 2});
    }
}

.intro__link {
    @include mediaSmall {
        left: 0;
        right: 0;
        width: auto;
        transform: translateY(0);
    }
}

.intro__container {
    @include mediaSmall {
        height: $introAnimationMobileHeight;
    }
}

.intro--done {
    .intro__link {
        pointer-events: auto;
    }

    @include mediaBig {
    
        .a_photo {
            top: 0;
            left: 0;
            transform: translateY(-10%) scale(.5);
        }
        .a_design {
            left: 0;
            top: auto;
            bottom: 0;
            transform: translateY(10%) scale(.5);
        }
        .a_illu {
            right: 0;
            top: 0;
            transform: translateY(-10%) scale(.5);
        }
    }

    @include mediaSmall {
        .overlay {
            opacity: 1;
            align-items: flex-end;
            padding: 0 0 10%;
            font-size: 18px;
        }
    }
}

.main {
    opacity: 0;
    transform: perspective(100px) translateZ(-300px);
    transition: opacity .4s ease, transform .4s ease;

    @include mediaSmall {
        opacity: 1;
        transform: none;
    }
}

.main--show {
    @include mediaBig {
        opacity: 1;
        transform: perspective(100px) translateZ(0);
    }
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $base*2 $base*8 $base*4;
}

.footer__links {
    @include mediaSmall {
        display: none;
    }
}

.footer__link {
    color: $fontColor;
    text-decoration: none;
    transition: color.4s ease;

    @include mediaBig {
        &:hover {
            color: $orange;
        }
    }
}

.footer__divider {
    margin: 0 $base*2;
}